<div class="profile">
    {{- with site.Params.profileMode }}
    <div class="profile_inner academic-home">
        <h1>{{ .title | default site.Title | markdownify }}</h1>
        {{- if .imageUrl -}}
        {{- $img := "" }}
        {{- if not (urls.Parse .imageUrl).IsAbs }}
            {{- $img = resources.Get .imageUrl }}
        {{- end }}
        <div class="home-avatar-wrap">
        {{- if $img }}
            <img class="home-avatar" draggable="false" src="{{ $img.Permalink }}" alt="{{ .imageTitle | default "profile image" }}" title="{{ .imageTitle }}"
                height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
        {{- else }}
            <img class="home-avatar" draggable="false" src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default "profile image" }}" title="{{ .imageTitle }}"
                height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
        {{- end }}
        </div>
        {{- end }}
        <span class="home-subtitle">{{ .subtitle | markdownify }}</span>
        {{- with .subtitleEnglish }}
        <span class="home-subtitle home-subtitle-en">{{ . | markdownify }}</span>
        {{- end }}

        {{- with .contact }}
        <div class="home-contact">
            {{- range . }}
            <a href="{{ .url | safeURL }}" rel="noopener">
                <strong>{{ .label }}</strong>
                <span>{{ .value }}</span>
            </a>
            {{- end }}
        </div>
        {{- end }}

        {{- with .buttons }}
        <div class="buttons home-buttons">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name }}">
                <span class="button-inner">{{ .name }}</span>
            </a>
            {{- end }}
        </div>
        {{- end }}
    </div>
    {{- end}}
</div>

